DATABASE_URL=mongodb://127.0.0.1/your-database-name
PAYLOAD_SECRET=YOUR_SECRET_HERE

// adaptor storage-s3 to R2
R2_ACCESS_KEY_ID=your-access-key
R2_SECRET_ACCESS_KEY=your-secret-access-key
R2_ENDPOINT=your-enpoint
R2_BUCKET=-your-bucket
R2_PUBLIC_URL=your-public-url